<a href="https://colab.research.google.com/github/1993monica/SQL-Assignment-I/blob/main/MONICA_PATEL_SQL_Fundamentals_II_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

SELECT customer_id, SUM (amount) FROM payment
WHERE staff_id= 2
GROUP BY customer_id , staff_id
HAVING SUM (amount) >=110
ORDER BY customer_id

---

# <b> Question 2 :  How many films begin with the letter J?

SELECT title FROM film
WHERE title LIKE 'J%'

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

SELECT customer_id , first_name , address_id FROM customer
WHERE first_name  ILIKE 'E%'
GROUP BY customer_id
HAVING Address_id <500
ORDER BY customer_id DESC